<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>1058887275393-d8vjviu8lue742de5demhabtk84bduul.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1058887275393-d8vjviu8lue742de5demhabtk84bduul</string>
    <key>API_KEY</key>
    <string>AIzaSyDs20g2qWGMc2feesucsurdbTAY-E0Etxc</string>
    <key>GCM_SENDER_ID</key>
    <string>1058887275393</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.mikezamayias.healpen</string>
    <key>PROJECT_ID</key>
    <string>healpen</string>
    <key>STORAGE_BUCKET</key>
    <string>healpen.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1058887275393:ios:453a1a7f6935c18beb0e80</string>
  </dict>
</plist>